h1{
color:red;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size:50px;
margin-left:65%;
transform:translate(-65%);
padding:10px;

}
h2{
    color:violet;
    font-family:fantasy;
    font-size:30px;
    margin-left:60%;
    transform:translate(-60%);
    padding:10px;
    
}

p{
    color:blue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
}

table{
    margin-left:50%;
    transform:translate(-50%);
    border-collapse: collapse;
    padding:20px;
    background-color:blueviolet;
    width:50%;
    th{
        height:100px;
    }
}